@charset "utf-8";

$pc-width: 980px;
$accent_color: #fbb03b;
$light-text: #fff;
$main-text-color: #222;

*{
	padding: 0;
	margin: 0;
}
html{
	padding: 0;
	margin: 0;
}
body{
	padding: 0;
	margin: 0;
	color: $main-text-color;
	font-family: Meiryo,"メイリオ","Hiragino Kaku Gothic ProN",sans-serif;
	line-height: 1.5;
	font-size: 1em;
}
.clearfix:after{
	clear: both;
	content: "";
	display: block;
}
img{
	background: none;
	vertical-align: bottom;
}
a:hover{
	text-decoration: underline;
}
/*  */
/* header */
header{
	width: 100%;
	margin: 0;
	background: $accent_color;
}
.header-wrapper{
	width: $pc-width;
	margin: auto;
}
.logo-title{
	color: $accent_color;
	a{
		color: $light-text;
		font-size: 32px;
		text-decoration: none;
	}
}

.logo-img{
	padding-top: 8px;
	width: 60px;
	height: 60px;
}
.contener{
	width: $pc-width;
	margin: auto;
}

.user-index{
	padding-top: 20px;
}

.user-icon{
	float: left;
	img{
		width: 100px;
		height: 100px;
	}
}
.user-name{
	float: left;
	padding: 20px 20px;
}

.rank-block{
	padding: 20px 0;
}

.rank-list{
	dt{
		margin-right: 5px;
		float: left;
		list-style: none;
		a{
			color: $main-text-color;
			text-decoration: none;
		}
		a:hover{
			opacity: 0.5;
			text-decoration: underline;
		}
	}
	dd{
		float: left;
		margin-right: 20px;
		a{
			color: #ff0000;
			text-decoration: none;
		}
	}
}

.introduction{
	padding-top: 20px;
}